.Weather {
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  padding: 16px;
  margin: 30px auto;
  margin-bottom: 0px;
  border-radius: 4px;
}

.Weather h1 {
  color: #878787;
  display: block;
  font-size: 24px;
  margin: 20px 0 0 0;
  font-weight: 100;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  display: inline-block;
  margin-top: 5px;
}

.Weather .temperature {
  font-size: 64px;
  font-weight: bold;
  font-weight: 400;
  color: rgb(33, 33, 33);
  line-height: 64px;
  margin: 10px 0;
  margin-left: 10px;
}

.Weather .unit {
  font-size: 16px;
  color: rgb(33, 33, 33);
  font-weight: 400px;
  position: relative;
  top: -34px;
  margin-left: 0px;
  line-height: 1;
}

.Weather .unit a {
  text-decoration: none;
}
